* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background-color: #E9DFF2;
    font-family: 'Exo', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.right,
.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background-color: #F22727;
}

.logo {
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    color: #F2293A;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo svg {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.logo h1 {
    color: #F2293A;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
    text-align: center;
}

.left p {
    color: #E9DFF2;
    font-size: 1.5rem;
    text-align: center;
}

.login-box,
.new-user-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 18px #c6c6c6;
    width: 75%;
}

.new-user-box {
    display: none;
}

.form-item {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    color: #F2293A;
}

.form-item label {
    margin-bottom: 5px;
    font-weight: bolder;
    display: flex;
    align-items: center;

}

.form-item label span {
    margin-right: 5px;
    font-family: 'Material Icons';
}

.form-item input {
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #F2293A;
    caret-color: #fff;
    padding-left: 10px;
    color: #fff;
}

.form-item select {
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #F2293A;
    color: #fff;
    padding-left: 10px;
    font-size: 1rem;
}

.form-item select option {
    padding: 10px 0px;
}

.form-item input::placeholder {
    color: #fff;
}

.form-item input:focus {
    outline: none;
}

.login-title p {
    font-size: 1.25rem;
    font-weight: bolder;
    color: #F2293A;
}

.new p,
.new a {
    text-decoration: none;
    color: #BF8E8E;
    font-size: 0.9rem;
}

.new a {
    margin-left: 3px;
    transition: all 300ms;
    font-weight: bold;
}

.new a:hover {
    color: #F2293A;
    transition: all 300ms;
}

.new {
    display: flex;
    align-items: center;
    height: 20px;
    margin: 0px 0px 25px 0px;
}

.form-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.form-btn span {
    margin-right: 5px;
    font-family: 'Material Icons';
}

.form-btn button {
    margin: 0px 5px;
    padding: 10px;
    background-color: #F2293A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 300ms;
}

.form-btn button:hover {
    cursor: pointer;
    transition: all 300ms;
    background-color: #BF3F4A;
}

.dashboard {
    position: relative;
}

.dashboard .container {
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    width: 100%;
}

.menu {
    height: 100%;
    width: 15%;
    background-color: #F22727;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 300ms;
}

.menu span {
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin-right: 5px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.menu a p {
    margin: 0;
}

.menu-logo {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.menu-logo svg {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.menu-logo h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.25rem;
    text-align: center;
    margin: 0px;
}

.hambuguer-menu {
    justify-content: flex-end !important;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-header {
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px;
    color: #BF3F4A;
}

.nav-item:hover {
    color: #F22727 !important;
    background-color: #E9DFF2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    position: relative;
    margin-left: 0;
}

.nav-item:hover::before {
    content: '';
    position: absolute;
    right: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #E9DFF2;
    pointer-events: none;
}

.nav-item:hover::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #E9DFF2;
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px;
    color: #BF3F4A;
    z-index: 1;
}

.content .login-form {
    width: 50%;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#items {
    width: 80%;
    background-color: #F22727;
    color: #fff;
    border-radius: 20px;
}

#items tr {
    display: flex;
}

#items td,
#items th {
    flex: 1;
}

#items thead tr th {
    background-color: #F22727;
    color: #fff;
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    text-align: start;
}

#items tbody tr td {
    background-color: #fff;
    color: #F22727;
    font-weight: normal;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.borrow-it {
    text-decoration: none;
    color: #F22727;
    transition: all 300ms;
}

.borrow-it:hover {
    transition: all 300ms;
    color: #BF3F4A;
}

.borrow-it span {
    font-family: 'Material Icons';
}

.new-item {
    color: #F22727;
    text-decoration: none;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.new-item span {
    font-family: 'Material Icons';
}

.new-item:hover {
    color: #BF8E8E;
}

.modal {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    width: auto;
    min-width: 50%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 30px;
    z-index: 110;
}

.modal-content .form-btn {
    margin-top: 30px;
    justify-content: center;
}

.late {
    font-weight: bold;
    color: #ffd900;
}

/* Color Theme Swatches in Hex */
.Case-Japamundi-1-hex {
    color: #F2293A;
}

.Case-Japamundi-2-hex {
    color: #BF3F4A;
}

.Case-Japamundi-3-hex {
    color: #E9DFF2;
}

.Case-Japamundi-4-hex {
    color: #F22727;
}

.Case-Japamundi-5-hex {
    color: #BF8E8E;
}